

* {
    background-color: #333;
    /*border-style: solid;*/
}

.logo {
    width: 249px;
    height: 115px;
}

.content {
    margin-left:25%;
}

.nav {
    margin-top: 5%;
}

h1 {
    color:#ddd;
    font-weight: 300;
    font-size: 5em;
    margin-top: 5%;
}

.nav-pills>li.active>a{
    background-color: rgb(255, 204, 0);
    color: #222;
    /*font-size: 18px;*/
}

.nav-pills>li>a{
    color: #fc0;
    font-size: 18px;
    padding: 0.3em 2em;
}

body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", sans-serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color:#ddd;
    font-size: 32px;
}

h3 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color:#ddd;
    font-size: 21px;
    font-weight: bold;
    margin-top: 30%;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color:#ddd;
    font-size: 21px;
}

.despriction {
    margin-top: 1%;
}

.link {
    color: #fc0;
    font-size: 21px;
}

.code-des {
    margin-top: 3%;
}


.code-color {
    background-color: #5a3939;
}

.code-css .title {
    display: block;
    text-align: center;
    margin: 0 20px;
    padding: 5px 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    border-bottom: 1px solid #111;
    background: -webkit-linear-gradient(top, #f7f7f7 0%,#cfcfcf 7%,#aaaaaa 100%);
}

.code-css .body{
    padding: 20px;
    text-shadow: none;
    margin: 0 20px;
    background: #3d3d3d;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 30px rgba(0,0,0,.3);
}

p.sheel {
    color: #f0e68c;
    background: #3d3d3d;
    margin: 0;
    padding: 0;
}

span.sheel1 {
    color: #87ceeb;
    background:#3d3d3d;
}

span.sheel2 {
    color: #cd5c5c;
    background:#3d3d3d;
}

p.comment {
    color:#888;
    background:#3d3d3d;
    margin: 0;
    padding: 0;
}